.label {
    -fx-text-fill: white;
}
.radio-button {
    -fx-text-fill: white;
}
.check-box {
    -fx-text-fill: white;
}
.context-menu {
  -fx-background-color: white; /*#006699*/
  -fx-text-fill: black; /*white*/
}
.menu-item .label{
    -fx-text-fill: black;
}
.menu-item:focused .label {
  -fx-text-fill: white;
}
.hyperlink {
    -fx-text-fill: #2300eb;
}